html {
	background:#F2EBBF;	
}

#header {
	text-align: center;
	padding: 5px;
	background-color: black;
	color: white;
}

#section {
	width: 900px;
	float: left;
	padding: 10px;
	height: 100%;
}

#nav {
	/*position: fixed;*/
	line-height: 30px;
	background-color: #eeeeee;
	height: 300px;
	width: 300px;
	float: right;
	padding: 5px;
	margin-right: 15px;
}

#footer {
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}

code {
	background-color: #eeeeee;
}